body {
    background-image: url(./img/backgroundimg.jpg);
    background-size: cover;
}

#endOfPage {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    width:1700px;
    padding:5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.header {
    text-align: center;
    padding: 20px;
}
div.ex1 {
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

div.ex2 {
    max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

#largebox{
    width:1800px;
    height: 500px;
    padding-top: 50px;
    padding-left:10px;
    padding-right:10px;
}
#box0 {
    height: 400px;
    width: 550px;
    background-color: #FF0;
    float:left;
}

#box1{
    height: 400px;
    width: 550px;
    background-color: #0F0;
    float:left;
    margin-left: 25px;
}
#box2{
    height: 400px;
    width: 550px;
    background-color: #F00;
    float:left;
    margin-left: 25px;
}

