body {
    background-image: url(./img/backgroundimg.jpg);
    background-color: #24ff24;
    background-size: cover;
}

div.relative {
    position: relative;
    left: 120px;
}

#endOfPage {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    width: 1000px;
    padding:5px;
}

img {
    opacity:0.5;
    filter:alpha(opacity=50); /* 针对 IE8 以及更早的版本 */
    max-width: 100%;
    max-height: 100%;
}
.header {
    text-align: center;
    padding: 20px;
}
div.ex1 {
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

div.ex2 {
    max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

#largebox{
    width:950px;
    height: 315px;
    padding-top: 50px;
    padding-left:10px;
    padding-right:10px;
}
#box0 {
    height: 310px;
    width: 410px;
    float:left;
}

#box1{
    height: 310px;
    width: 410px;
    float:left;
    margin-left: 25px;
}
#box2{
    height: 310px;
    width: 410px;
    float:left;
    margin-left: 25px;
}

