body {
    background-image: url(./img/backgroundimg.jpg);
    background-size: cover;
}

#map {
    width: 100%;
    position: fixed;
    height: 40rem; 
    
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
    text-align: center;
}

.routes{
    background-color:red;
    border-bottom-width: medium;
    border-color: dimgray;
}
