#map {
    width: 50%;
    height: 40rem; 
    margin-left: 6.3rem;
    margin-right: 5rem;
    
}

body {
    background-image: url(./img/backgroundimg.jpg);
    background-size: cover;
}
.aw-widget-current {
    
    text-align: center;
    padding: 5px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
}
