<!DOCTYPE html>
<html lang="en">
{% load static %}
<head style="width:1800px">
<img src="{% static "DataAnalyticsHeader.png" %}" alt="header" width="1800px" height="100px">
<link rel="stylesheet" type="text/css" href="{% static "analytics.css" %}">
    <meta charset="UTF-8">
    <title>POST Params</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      function sleep(milliseconds) {
  	var start = new Date().getTime();
  	for (var i = 0; i < 1e7; i++) {
    		if ((new Date().getTime() - start) > milliseconds){
      			break;
    			}
  		}
    	}
      function myFunction(tripid){
        //alert("calling myfunction()");
        str = '<h3 style="background-color: yellow;border-style: double; width:1800px">Loading data, this will take several mins, please wait...</h3>';
        document.getElementById('box4').innerHTML = str;
        form4_sub(tripid);
	}
      function drawChart(results) {
          var i;
          for (i = 0; i < results.length; i++) {
              result = results[i];
              var arrtime_data = result['arrtime_rows'];
              var arr_tripid = result['arr_trip_id'];
              var arr_date = result['arr_date'];
              var id = result['chart_name'];

          var data = google.visualization.arrayToDataTable(arrtime_data);
          var options = {
            title: 'Trip ' + arr_tripid + ' Performance on ' + arr_date,
            curveType: 'function',
            legend: { position: 'bottom' },
            hAxis: {
		title: 'Station NO.'
		},
            vAxis: {
		title: 'Arrival Time (seconds)'
		}
          };

          var chart = new google.visualization.LineChart(document.getElementById(id));
          chart.draw(data, options);
        } 
      }
    </script>
<script src="{% static "jquery-3.3.1.min.js" %}"></script>

</head>
<body>
<div>
	<div class="header">
	</div>
	<div style="width:1200px; height: 1000px;">
<script>
        var BusLine = '';
        var timeid = -1;
        var month = -1;

	function populateSelect() {
        // THE JSON ARRAY.
        	var lines = {{Lines|safe}};

       		var ele = document.getElementById('sel');
        	for (var i = 0; i < lines.length; i++) {
            		// POPULATE SELECT ELEMENT WITH JSON.
            		ele.innerHTML = ele.innerHTML +
                	'<option style="font-size:40px" value="' + lines[i]['lineid'] + '">' + lines[i]['lineid'] + '</option>';
        	}
    	}
	function populateSelect2() {
        	var my_month = [{'value': 1, 'month':'JAN'},
			{'value': 2, 'month':'FEB'},
			{'value': 3, 'month':'MAR'},
			{'value': 4, 'month':'APR'},
			{'value': 5, 'month':'MAY'},
			{'value': 6, 'month':'JUNE'}]
        	var ele = document.getElementById('sel2');
        	for (var i = 0; i < my_month.length; i++) {
            	// POPULATE SELECT ELEMENT WITH JSON.
            		ele.innerHTML = ele.innerHTML +
                	'<option value="' + my_month[i]['value'] + '">' + my_month[i]['month'] + '</option>';
        	}
	}
	function populateSelect3() {
        	// THE JSON ARRAY.
        	var timeInterval = [
			{'clock': '00:00-01:00','id': 1},
			{'clock': '01:00-02:00','id': 2},
			{'clock': '02:00-03:00','id': 3},
			{'clock': '03:00-04:00','id': 4},
			{'clock': '04:00-05:00','id': 5},
			{'clock': '05:00-06:00','id': 6},
			{'clock': '06:00-07:00','id': 7},
			{'clock': '07:00-08:00','id': 8},
			{'clock': '08:00-09:00','id': 9},
			{'clock': '09:00-10:00','id': 10},
			{'clock': '10:00-11:00','id': 11},
			{'clock': '11:00-12:00','id': 12},
			{'clock': '12:00-13:00','id': 13},
			{'clock': '13:00-14:00','id': 14},
			{'clock': '14:00-15:00','id': 15},
			{'clock': '15:00-16:00','id': 16},
			{'clock': '17:00-18:00','id': 17},
			{'clock': '18:00-19:00','id': 18},
			{'clock': '19:00-20:00','id': 19},
			{'clock': '20:00-21:00','id': 20},
			{'clock': '21:00-22:00','id': 21},
			{'clock': '22:00-23:00','id': 22},
			{'clock': '23:00-24:00','id': 23}
			];

        	var ele = document.getElementById('sel3');
        	for (var i = 0; i < timeInterval.length; i++) {
            		// POPULATE SELECT ELEMENT WITH JSON.
            		ele.innerHTML = ele.innerHTML +
                	'<option value="' + timeInterval[i]['id'] + '">' + timeInterval[i]['clock'] + '</option>';
        	}
    	}
	function myshow(ele, id) {
        	// GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
        	var msg = document.getElementById(id);
        	if (id == 'msg'){
            		msg.innerHTML = 'Selected Bus Line: <b>' + ele.options[ele.selectedIndex].text + '</b>';
            		BusLine = ele.options[ele.selectedIndex].value;
		} else if (id == 'msg2') {
            		msg.innerHTML = 'Selected Month: <b>' + ele.options[ele.selectedIndex].text + '</b>';
            		month = ele.options[ele.selectedIndex].value;
		} else if (id == 'msg3') {
            		msg.innerHTML = 'Selected Time Interval: <b>' + ele.options[ele.selectedIndex].text + '</b> </br>' +
            		'</b>';
            		timeid = ele.options[ele.selectedIndex].value;
		}
    	}

	var click_times = 0
	$(function(){
            $(".form1").submit(function(evt){
                var div1=document.getElementById("form1_notice");  
                if(div1.style.display='none') div1.style.display='block';
                evt.preventDefault();
                form1_sub();
                click_times = click_times + 1;
                if (click_times == 1){
                    var input_div=document.getElementById("selections");  
                    input_div.style.display='none';
                    var second_button=document.getElementById("second_button");  
                    second_button.style.display='block';
		}
            });
            $(".form4").submit(function(evt){
                evt.preventDefault();
                form4_sub();
            });
        });
	function form1_sub()
            {
                var lineid = BusLine;
                var my_month = month;
                var timeInterval = timeid;
                data_to_backend = {'LineId':lineid, 'Month': my_month, 'timeInterval': timeid}; 
                $.post("/analytics_form_input/", data_to_backend, function(data){
                    //alert(data);
                    data=JSON.parse(data);
                    str = create_tables(data);
                    title = "<div><h3> Displaying Trip IDs </h3></div>";
                    document.getElementById('box').innerHTML = title + str;
                    show('box');
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
            }

	function create_tables(json){
                    var str = '';
                    str+="<div id='box'><table style='width:20%'>";
                    if (json.length == 0) {
 			str+="No Found!";
   		    } else {
                    for (var i in json) {
			    num = i % 20;
                            if (num == 0){
				str += "<tr>";
				}
                            str += "<th><button style='background-color: green;color: white' value='" + json[i] + "' onclick='myFunction(this.value); return false;' onchange='myFunction(this.value); return false;'>"+json[i]+"</button></th>";
                            if (num == 19){
				str += "</tr>";
				}
                    }}
                    str+="</tr></table></div>";
		    return str;
		}

	function form4_sub(tripid)
            {
                var my_month = month;
                data_to_backend = {'tripid':tripid, 'month': my_month}; 
                //alert("peng:"+tripid);
                $.post("/analytics_get_arrivaltime/", data_to_backend, function(data){
                    data=JSON.parse(data);
                    results = data.value;
                    str = showRoutes(data.chart_names, 'form4');
                    document.getElementById('box4').innerHTML = str;
   
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(function() { drawChart(results);});
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
            }

        function showRoutes(json, query_id){
                var str='';
                if (query_id == 'form1'){
                    str+="<div id='box'>"+'</div>'+'</div>';
                    if (json.length == 0) {
 			str+="No Found!";
   		    } else {
                    for (var i in json) {
                            str+="<div id='box'>"+json[i]['TripId']+'</div>'+'</div>';
                    }}}
               	    else if (query_id == 'form4'){
			for (var i in json){
                                var number = i % 3;
                                if (number == 0){
                                	str += "<div id='largebox'>";
				}
                                str += "<div id='box" + number + "'><div id='" + json[i] + "' style='width: 500px; height: 400px; margin-left: 25px'>" + json[i] + "</div></div>";
				if (number == 2){
					str += "</div>";
				}
			}}
                return str;
            }

</script>
<form style="background-color: yellow;border-style: double; width:1800px" class="form1">
	<h3>&nbsp; Display all Trip IDs with given month (1-6) and Bus Lines (39A, 46A, etc.) </h3>
	<div id='selections'> &nbsp;
		<select  style="height:50px;font:inherit" id="sel" onclick="populateSelect()" onchange="myshow(this, 'msg')">
        		<option value="">-- Bus Line --</option>
    		</select>
 		<select style="height:50px;font:inherit" id="sel2" onclick="populateSelect2()" onchange="myshow(this, 'msg2')">
  			<option value="">-- Month --</option>
		</select> 
		<select style="height:50px;font:inherit" id="sel3" onclick="populateSelect3()" onchange="myshow(this, 'msg3')">
        		<option value="">-- Time Interval --</option>
    		</select>
		<input type="image" src="{% static "search-button.png" %}" alt="Submit" align="middle" width="48" height="48">
	</div>
	<input type="image" id="second_button" src="{% static "search-button.png" %}" alt="Submit" align="middle" width="48" height="48" style="display:none">
 	<div id="msg"></div>
 	<div id="msg2"></div>
 	<div id="msg3"></div>
	<div id="box">
		<div id="form1_notice" style="display:none"> <h3> Please wait for a moment, querying ... </h3></div>
	</div>
</form>

<div style="background-color: yellow;border-style: double; width:1800px">
<!--
<HR style="border:3 double #987cb9" width="100%" color=#987cb9 SIZE=3>
-->
<H3>&nbsp; Illustrate Line Charts for the bus performance in particular Trip ID </H3>
</div>
<div>
<h3 id="form4_notice"> </h3>
<div id='box4'>
</div>
<div id="endOfPage">&nbsp;</div>
</body>

</html>
