<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "analytics.css" %}">
    <meta charset="UTF-8">
    <title>POST Params</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      function sleep(milliseconds) {
  	var start = new Date().getTime();
  	for (var i = 0; i < 1e7; i++) {
    		if ((new Date().getTime() - start) > milliseconds){
      			break;
    			}
  		}
    	}
      google.charts.load('current', {'packages':['corechart']});
      var results = {{value|safe}};
   
      google.charts.setOnLoadCallback(function() { drawChart(results);});

      //window.alert(arr_date);
      function drawChart(results) {
          var i;
          for (i = 0; i < results.length; i++) {
              result = results[i];
              var arrtime_data = result['arrtime_rows'];
              var arr_tripid = result['arr_trip_id'];
              var arr_date = result['arr_date'];
              var id = result['chart_name'];

          var data = google.visualization.arrayToDataTable(arrtime_data);
          var options = {
            title: 'Trip ' + arr_tripid + ' Performance on ' + arr_date,
            curveType: 'function',
            legend: { position: 'bottom' },
            hAxis: {
		title: 'Station NO.'
		},
            vAxis: {
		title: 'Arrival Time (seconds)'
		}
          };

          var chart = new google.visualization.LineChart(document.getElementById(id));
          chart.draw(data, options);
        } 
      }
    </script>
<script src="{% static "jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript">
 jQuery(document).ready(function($){
	$('.scroll_top').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);}); 
	$('.scroll_a').click(function(){$('html,body').animate({scrollTop:$('.a').offset().top}, 800);});
	$('.scroll_bottom').click(function(){$('html,body').animate({scrollTop:$('.bottom').offset().top}, 800);});
 });
$('#goToBottom').click(function(){
  var WH = $(window).height();  
  var SH = $('body').prop("scrollHeight");
  $('html, body').animate({
    scrollTop: $('#endOfPage').offset().top
  }, 1000);
}); 
</script>



</head>
<body>
<div>
<div class="header">
</div>
<div style="width:1200px; height: 1000px;">
<script>

        var BusLine = '';
        var timeid = -1;
        var month = -1;
function populateSelect() {
        // THE JSON ARRAY.
        var lines = {{Lines|safe}};

        var ele = document.getElementById('sel');
        for (var i = 0; i < lines.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            ele.innerHTML = ele.innerHTML +
                '<option value="' + lines[i]['lineid'] + '">' + lines[i]['lineid'] + '</option>';
        }
    }

function populateSelect2() {
        // THE JSON ARRAY.
        var timeInterval = [
			{'clock': '00:00-01:00','id': 1},
			{'clock': '01:00-02:00','id': 2},
			{'clock': '02:00-03:00','id': 3},
			{'clock': '03:00-04:00','id': 4},
			{'clock': '04:00-05:00','id': 5},
			{'clock': '05:00-06:00','id': 6},
			{'clock': '06:00-07:00','id': 7},
			{'clock': '07:00-08:00','id': 8},
			{'clock': '08:00-09:00','id': 9},
			{'clock': '09:00-10:00','id': 10},
			{'clock': '10:00-11:00','id': 11},
			{'clock': '11:00-12:00','id': 12},
			{'clock': '12:00-13:00','id': 13},
			{'clock': '13:00-14:00','id': 14},
			{'clock': '14:00-15:00','id': 15},
			{'clock': '15:00-16:00','id': 16},
			{'clock': '17:00-18:00','id': 17},
			{'clock': '18:00-19:00','id': 18},
			{'clock': '19:00-20:00','id': 19},
			{'clock': '20:00-21:00','id': 20},
			{'clock': '21:00-22:00','id': 21},
			{'clock': '22:00-23:00','id': 22},
			{'clock': '23:00-24:00','id': 23}
			];

        var ele = document.getElementById('sel3');
        for (var i = 0; i < timeInterval.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            ele.innerHTML = ele.innerHTML +
                '<option value="' + timeInterval[i]['id'] + '">' + timeInterval[i]['clock'] + '</option>';
        }
    }
 function myshow(ele, id) {
        // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
        var msg = document.getElementById(id);
        if (id == 'msg'){
            msg.innerHTML = 'Selected Bus Line: <b>' + ele.options[ele.selectedIndex].text + '</b> </br>' +
            '</b>';
            BusLine = ele.options[ele.selectedIndex].value;
	} else if (id == 'msg2') {
            msg.innerHTML = 'Selected Month: <b>' + ele.options[ele.selectedIndex].text + '</b> </br>' +
            '</b>';
            month = ele.options[ele.selectedIndex].value;
	} else if (id == 'msg3') {
            msg.innerHTML = 'Selected Time Interval: <b>' + ele.options[ele.selectedIndex].text + '</b> </br>' +
            '</b>';
            timeid = ele.options[ele.selectedIndex].value;
	}
    }

function show(boxid)
{ 
  var box = document.getElementById(boxid); 
  var text = box.innerHTML; 
  var newBox = document.createElement("div"); 
  var btn = document.createElement("a"); 
  newBox.innerHTML = text.substring(0,20); 
  btn.innerHTML = text.length > 20 ? "+" : ""; 
  btn.href = "###"; 
  btn.onclick = function(){ 
    if(btn.innerHTML == "+")
    { 
      btn.innerHTML = "-"; 
      newBox.innerHTML = text; 
    }
    else
    { 
      btn.innerHTML = "+"; 
      newBox.innerHTML = text.substring(0,20); 
    } 
  } 
  box.innerHTML = ""; 
  box.appendChild(newBox); 
  box.appendChild(btn); 
} 
window.onload=function()
{
  show('box'); 
}

$(function(){
            $(".form1").submit(function(evt){
                var div1=document.getElementById("form1_notice");  
                if(div1.style.display='none') div1.style.display='block';
                evt.preventDefault();
                form1_sub();
            });
            $(".form2").submit(function(evt){
                evt.preventDefault();
                form2_sub();
            });
            $(".form3").submit(function(evt){
                evt.preventDefault();
                form3_sub();
            });
        });
function form1_sub()
            {
                //var lineid=$("#sel").val();
                var lineid = BusLine;
                //var month=$("#sel2").val();
                var my_month = month;
                //var timeid=$("#sel3").val();
                var timeInterval = timeid;
                //alert(month + " " + lineid);
                data_to_backend = {'LineId':lineid, 'Month': my_month, 'timeInterval': timeid}; 
                $.post("/analytics_form_input/", data_to_backend, function(data){
                    //alert(data);
                    data=JSON.parse(data);
                    str=showRoutes(data, 'form1');
                    title = "<div><h3> Displaying Trip IDs </h3></div>";
                    document.getElementById('box').innerHTML = title + str;
                    //document.getElementById('box').innerHTML = data;
                    show('box');
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
                
            }
function form2_sub()
            {
                var tripid=$("#tripid").val();
                //alert(month + " " + lineid);
                data_to_backend = {'tripid':tripid, 'month': month}; 
                $.post("/analytics_get_available_days/", data_to_backend, function(data){
                    //alert(data);
                    data=JSON.parse(data);
                    str=showRoutes(data, 'form2');
                    document.getElementById('box2').innerHTML = str;
                    show('box2');
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
            }
function form3_sub()
            {
                var lineid=$("#lineid").val();
                data_to_backend = {'lineid':lineid}; 
                $.post("/analytics_get_stoppointids/", data_to_backend, function(data){
                    //alert(data);
                    data=JSON.parse(data);
                    str=showRoutes(data, 'form3');
                    document.getElementById('box3').innerHTML = str;
                    show('box3');
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
            }

        function showRoutes(json, query_id){
                var str='';
                var findRoute=false;
                if (query_id == 'form1'){
                    str+="<div id='box'>"+'RES->' +'</div>'+'</div>';
                    for (var i in json) {
                            str+="<div id='box'>"+json[i]['TripId']+'</div>'+'</div>';
                    }}
                else if (query_id == 'form2'){
                    all = json['days'];
                    str+="<div id='box2'>"+'RES->' +'</div>'+'</div>';
                    for (var i in all) {
                            str+="<div id='box2'>"+all[i]+'</div>'+'</div>';
                    }}
                else if (query_id == 'form3'){
                    json_a = json['direction_a'];
                    json_b = json['direction_b'];
                    str+="<div id='box3'>"+'RES->' +'</div>'+'</div>';
                    str+="<div id='box3'>"+'Direction A:' +'</div>'+'</div>';
                    for (var i in json_a) {
                            str+="<div id='box3'>"+"&nbsp;station " + i + ": " + json_a[i]+'</div>'+'</div>';
                    }
                    str+="<div id='box3'>"+'Direction B:' +'</div>'+'</div>';
                    for (var i in json_b) {
                            str+="<div id='box3'>"+"&nbsp;station " + i + ": " + json_b[i]+'</div>'+'</div>';
                    }}
                return str;
            }


</script>
<form class="form1">
<!--
<p>
 <input type="button" 
            style="margin:10px 0;font:14px Verdana;" 
                onclick="populateSelect()" 
                    value="Populate SELECT with JSON" />
</p>
-->
<select id="sel" onclick="populateSelect()" onchange="myshow(this, 'msg')">
        <option value="">-- Bus Line --</option>
    </select>
 <select id="sel2" onchange="myshow(this, 'msg2')">
  <option value="1">JAN</option>
  <option value="2">FEB</option>
  <option value="3">MAR</option>
  <option value="4">APR</option>
  <option value="5">MAY</option>
  <option value="6">JUNE</option>
  <option selected>-- Month --</option>
</select> 
<select id="sel3" onclick="populateSelect2()" onchange="myshow(this, 'msg3')">
        <option value="">-- Time Interval --</option>
    </select>
<input type="image" src="{% static "search-button.png" %}" alt="Submit" align="middle" width="48" height="48">
 <p id="msg"></p>
 <p id="msg2"></p>
 <p id="msg3"></p>
<div id="box">
Display all Trip IDs with given month (1-6) and Bus Lines (39A, 46A, etc.)
<div id="form1_notice" style="display:none"> <h3> Please wait for a moment, querying ... </h3></div>
</div>
</form>
<div>
<form class="form2" style="display:none">
  TripId:<input id="tripid" type="text" name="tripid"/>
<input id="form2_button" type="image" src="{% static "search-button.png" %}" alt="Submit" align="middle" width="48" height="48">
<div id="box2">
</div>
</form>
</div>

<div>
<form class="form3" style="display:none">
  LineId:<input id="lineid" type="text" name="lineid"/>
<input id="form3_button" type="image" src="{% static "search-button.png" %}" alt="Submit" align="middle" width="48" height="48">
<div id="box3">
</div>
</form>
</div>


<HR style="border:3 double #987cb9" width="100%" color=#987cb9 SIZE=3>
<div>
<form method="post" action="/analytics_get_arrivaltime/">
  TripId:<input type="text" name="tripid"/>
<input type="image" id="goToBottom"  src="{% static "search-button.png" %}" alt="Submit" align="middle" width="48" height="48">
</form>
    <table>
        <tbody>
            {% for chart_name in charts_names %}
            	<div>{{chart_name}}</div>
                <div id="{{chart_name}}" style="width: 900px; height: 500px"> </div>
            {% endfor %}
        </tbody>
        <div id="showResult">{{arr_trip_id}}&nbsp;{{arr_date}}</div>
    </table>
</div>
</div>
<div id="endOfPage">&nbsp;</div>
</body>

</html>
