<!DOCTYPE html>
<html lang="en">
    
<!-- Google API Key = AIzaSyBS6Ca0PFx3eydXjgD17aQogUFe8jeOfqg -->
<!-- AccuWeather API Key = em8jLMl8jkAqrLiuJM0BCBQEoxHfJAJq -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Page1.css' %}" />


    <head>
        
        <!-- Use utf-8 encoding -->
        <meta charset="utf-8">
        
        <!-- Tell Internet Explorer or Edge use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Set the page width to the size of the device, set zoom to 1 -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
           
        <title> Page 1 </title>
           
        <!-- Bootstrap CDN for CSS, found on getbootstrap.com -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        
        <!-- Bootstrap CDN for JQuery, found on getbootstrap.com  -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
    </head>
    
    <body class="bg-secondary">
        
        <!-- Container -->
        <div id="containsAll">
            
            <!-- Free weather widget from Accuweather -->
            <a href="https://www.accuweather.com/en/ie/dublin/207931/weather-forecast/207931" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
            --></a>
            <div id="awcc1530486484590" class="aw-widget-current"  data-locationkey="207931" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1530486484590"></div>
            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
            
            <!-- Row to keep map and input on the same line -->
            <div class="row" col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12>
               
                
                <!-- Found online, have used it before for WebApp Assignment2 -->
                <!--The div element for the map -->
                <div id="map"></div>

                    <script>
                        // Initialize and add the map
                        function initMap() {
                                // The location of Dublin
                                var Dublin = {lat: 53.3351, lng: -6.2493};
                                // The map, centered at Dublin
                                var map = new google.maps.Map(
                                  document.getElementById('map'), {zoom: 10, center: Dublin});
                              // The marker, positioned at Dublin
                              //var marker = new google.maps.Marker({position: Dublin, map: map});
                            }
                    </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS6Ca0PFx3eydXjgD17aQogUFe8jeOfqg&callback=initMap">
                    </script>
                    
                    <!-- Jumbotron to hold the form -->
                    <div class="jumbotron bg-primary border border-light pt-1 pb-1">
                    
                     <!-- The FORM -->
                     <form class="bg-infoml-5">
                                
                        <!-- Start -->
                        <div class="form-group p-2">
                            <label for="start" class="text-light blockquote">Start:</label>
                            <input id="start" type="text" class="float-none text-dark form-control" placeholder="Start Bus Stop ID">
                        </div>
                                
                        <!-- Destination -->
                        <div class="form-group p-2">
                            <label for="destination" class="text-light blockquote" >Destination:</label>
                            <input id="destination" type = "text" class="float-none text-dark form-control" placeholder="Destination Bus Stop ID">
                        </div>
                               
                        <!-- Date -->
                        <div class="form-group p-2">
                            <label for="date" class="text-light blockquote">Date:</label>
                            <span style="display:inline-block; width:2rem;"></span>
                            <input type="date" id = "date"  class="float-none text-dark form-control">
                        </div> 
                           
                           
                        <!-- Time -->
                        <div class="form-group p-2"> 
                            <label for="time" class="text-light blockquote">Time:</label>
                            <span style="display:inline-block; width:3rem;"></span>
                            <input type ="time" id="time" class="float-none text-dark form-control">
                        </div>
                            
                        <!-- Dropdown for the bus routes. Routes found on Dublin Bus site -->    
                        <div class="form-group p-2">
                            <span style="display:inline-block; width:3rem;"></span>
                            <select class="text-dark form-control" placeholder="Select Rou">
                                <option selected>Choose Route</option>
                                <option value="1">1</option>
                                <option value="4">4</option>
                                <option value="7">7</option>
                                <option value="7a">7A</option>
                                <option value="7b">7B</option>
                                <option value="7d">7D</option>
                                <option value="7n">7N</option>
                                <option value="9">9</option>
                                <option value="11">11</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="15a">15A</option>
                                <option value="15B">15B</option>
                                <option value="15D">15D</option>
                                <option value="15N">15N</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="17Α">17Α</option>
                                <option value="18">18</option>
                                <option value="25">25</option>
                                <option value="25Α">25Α</option>
                                <option value="25Β">25Β</option>
                                <option value="25D">25D</option>
                                <option value="25N">25N</option>
                                <option value="25Χ">25Χ</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="27A">27A</option>
                                <option value="27B">27B</option>
                                <option value="27X">27</option>
                                <option value="29A">29A</option>
                                <option value="29N">29N</option>
                                <option value="31A">31A</option>
                                <option value="31B">31B</option>
                                <option value="31D">31D</option>
                                <option value="31N">31N</option>
                                <option value="32">32</option>
                                <option value="32X">32X</option>
                                <option value="33">33</option>
                                <option value="33A">33A</option>
                                <option value="33B">33B</option>
                                <option value="33D">33D</option>
                                <option value="33N">33N</option>
                                <option value="33X">33X</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="38A">38A</option>
                                <option value="38B">38B</option>
                                <option value="39">39</option>
                                <option value="39A">39A</option>
                                <option value="39N">39N</option>
                                <option value="39X">39X</option>
                                <option value="40">40</option>
                                <option value="40B">40B</option>
                                <option value="40D">40D</option>
                                <option value="41">41</option>
                                <option value="41B">41B</option>
                                <option value="41C">41C</option>
                                <option value="41N">41N</option>
                                <option value="41X">41X</option>
                                <option value="42">42</option>
                                <option value="42D">42D</option>
                                <option value="42N">42N</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="44B">44B</option>
                                <option value="45A">45A</option>
                                <option value="46A">46A</option>
                                <option value="46E">46E</option>
                                <option value="46N">46N</option>
                                <option value="47">47</option>
                                <option value="49">49</option>
                                <option value="49N">49N</option>
                                <option value="51D">51D</option>
                                <option value="51X">51X</option>
                                <option value="53">53</option>
                                <option value="54A">54A</option>
                                <option value="56A">56A</option>
                                <option value="59">59</option>
                                <option value="61">61</option>
                                <option value="63">63</option>
                                <option value="65">65</option>
                                <option value="65B">65B</option>
                                <option value="66">66</option>
                                <option value="66A">66A</option>
                                <option value="66B">66B</option>
                                <option value="66N">66N</option>
                                <option value="66X">66X</option>
                                <option value="67">67</option>
                                <option value="67N">67N</option>
                                <option value="67X">67X</option>
                                <option value="68A">68A</option>
                                <option value="68X">68X</option>
                                <option value="69">69</option>
                                <option value="69N">69N</option>
                                <option value="69X">69X</option>
                                <option value="70">70</option>
                                <option value="70D">70D</option>
                                <option value="70N">70N</option>
                                <option value="75">75</option>
                                <option value="76">76</option>
                                <option value="76A">76A</option>
                                <option value="77A">77A</option>
                                <option value="77N">77N</option>
                                <option value="77X">77X</option>
                                <option value="79A">79A</option>
                                <option value="83">83</option>
                                <option value="84A">84A</option>
                                <option value="84N">84N</option>
                                <option value="84X">84X</option>
                                <option value="88N">88N</option>
                                <option value="90">90</option>
                                <option value="102">102</option>
                                <option value="104">104</option>
                                <option value="111">111</option>
                                <option value="114">114</option>
                                <option value="116">116</option>
                                <option value="118">118</option>
                                <option value="120">120</option>
                                <option value="122">122</option>
                                <option value="123">123</option>
                                <option value="130">130</option>
                                <option value="140">140</option>
                                <option value="142">142</option>
                                <option value="145">145</option>
                                <option value="150">150</option>
                                <option value="151">151</option>
                                <option value="161">161</option>
                                <option value="184">184</option>
                                <option value="185">185</option>
                                <option value="220">220</option>
                                <option value="236">236</option>
                                <option value="238">238</option>
                                <option value="239">239</option>
                                <option value="270">270</option>
                                <option value="747">747</option>
                                <option value="757">757</option>
                                
                            </select>
                        </div>
                                
                        <!-- Submit -->
                        <div class="form-group p-2">
                            <span style="display:inline-block; width:3rem;"></span>
                            <button id="submit" value="Submit" class="text-dark btn btn-active btn btn-light">Submit</button>
                            <!-- <button id="submit" value="Submit" class="text-light btn btn-active">Submit</button> -->                     
                        </div>
                    
                           
                    </form>
                    </div>
                    
                    <!-- Jumbotron to hold Search Results and Details -->
                    <div class="jumbotron bg-primary pt-1 pb-1 border border-light">
                    
                    <!-- Keep Search Results and Details in the same row -->
                        <div class="row">
                           
                           <!-- Form for Search Results and Details -->
                            <form id="searchresultsDetails">
                                <div id='routes'>Result area</div>
                                 <!-- Search Results -->          
                                <div class="form-group p-2">
                                    <span style="display:inline-block; width:1rem;"></span>
                                    <input type="Submit" name="SearchResults" value="Search Results" class="mt-5 text-dark btn btn-active btn btn-light" >
                                </div>
                                
                                <!-- Details -->            
                                <div class="form-group p-2">
                                    <span style="display:inline-block; width:3rem;"></span>
                                    <input type="Submit" name="Details" value="Details" class="text-dark btn btn-active btn btn-light">
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>

            </div>
                
   <!-- End of Body, Script area -->         
    
    <!-- Script Variables need to change or script will not work, class needs to change (maybe id or name?) @Dan Zhu -->
        <script>
        $(function(){
            $(".bg-infoml-5").submit(function(evt){
                evt.preventDefault();
                sub();
            });
        });
        function sub()
            {
                var start=$("#start").val();
                var end=$("#destination").val();
                var time=$("#time").val();
                var timenumber=time.split(":");
                var seconds=Number(timenumber[0])*60*60+Number(timenumber[1])*60;
                data_to_backend = {'Start':start,'End':end,'Time':seconds}; 

                $.post("/dublinbus/form_input/", data_to_backend, function(data){
                    data=JSON.parse(data);
                    str=showRoutes(data);
                    document.getElementById('routes').innerHTML = str;
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
                
            }
            
        function showRoutes(json){
                var str='';
                for (var i in json) {
                    str+="<div class='route-div' style='border:#FFFFFF 1px ridge; margin-bottom:-14%; padding:0;'>"+"<div><img src='/static/icon/bus.png'>"+json[i]['line']+'</div>'+Math.round(json[i]['traveltime'])+' min'+'</div><br>';
                }
                return str;
            }
        </script>
    
        <!-- Bootstrap CDN for Javascript, found on getbootstrap.com -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>  
                 
        
    </body>
</html>
               
            
            
        
    
    
