<!DOCTYPE html>
<html lang="en">
    
<!--- Google API Key = AIzaSyBS6Ca0PFx3eydXjgD17aQogUFe8jeOfqg -->
<!-- AccuWeather API Key = em8jLMl8jkAqrLiuJM0BCBQEoxHfJAJq -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Page1.css' %}" />

<link href="{% static 'easy-autocomplete/dist/easy-autocomplete.min.css'%}" rel="stylesheet" type="text/css">
<script src="{% static 'easy-autocomplete/lib/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'easy-autocomplete/dist/jquery.easy-autocomplete.min.js'%}" type="text/javascript" ></script>
    <script>
        var autoComp = jQuery.noConflict();
    </script>

    <head>
        
        <!-- Use utf-8 encoding -->
        <meta charset="utf-8">
        
        <!-- Tell Internet Explorer or Edge use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Set the page width to the size of the device, set zoom to 1 -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
           
        <title> Page 1 </title>
           
        <!-- Bootstrap CDN for CSS, found on getbootstrap.com -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        
        <!-- Bootstrap CDN for JQuery, found on getbootstrap.com  -->    
        <script src="{% static 'jquery.min.js' %}"></script>
          <link rel="stylesheet" href="{% static 'jquery-ui.min.css' %}">
          <script src="{% static 'jquery.min.js' %}"></script>
          <script src="{% static 'jquery-ui.min.js' %}"></script>
        
        <!-- import Vue.js -->
<script src="{% static 'vue.min.js' %}"></script>

<!-- import iView -->
<script src="{% static 'iview.min.js' %}"></script>
            
    </head>
    
    <body class="bg-secondary">
        
        
        <!-- Navigation Bar -->
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            
            <div class="container">
            
               <a href="http://137.43.49.51:8000/dublinbus/" class="navbar-brand"> <strong>Team MSDP</strong> </a> 
                
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    
                </button>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                
                    <ul class=navbar-nav ml-auto>
                    
                        <li id="plemx-root" class="nav-item">
                         
                            
                            <a href="http://www.theweathernetwork.com">The Weather Network</a>
                            <script type="text/javascript"> 

                              var _plm = _plm || [];
                              _plm.push(['_btn', 82501]); 
                              _plm.push(['_loc','eixx0014']);
                              _plm.push(['location', document.location.host ]);
                               (function(d,e,i) {
                              if (d.getElementById(i)) return;
                              var px = d.createElement(e);
                              px.type = 'text/javascript';
                              px.async = true;
                              px.id = i;
                              px.src = ('https:' == d.location.protocol ? 'https:' : 'http:') + '//widget.twnmm.com/js/btn/pelm.js?orig=en_ca';
                              var s = d.getElementsByTagName('script')[0];

                              var py = d.createElement('link');
                              py.rel = 'stylesheet'
                              py.href = ('https:' == d.location.protocol ? 'https:' : 'http:') + '//widget.twnmm.com/styles/btn/styles.css'

                              s.parentNode.insertBefore(px, s);
                              s.parentNode.insertBefore(py, s);
                            })(document, 'script', 'plmxbtn');
                            
                            </script>

                        
                        </li>
                    
                    
                    
                    </ul>
                
                </div>
                
                <!-- Dan's code for non-security login, comment it for the moment
                <form class="log-in-form">
                    <div class="log-in-div">
                        <label for="Username" class="text-light">Username:</label>
                        <input id="username" type = "text">
                        
                        <label for="Password" class="text-light">Password:</label>
                        <input id="password" type = "password">
                        
                        <button id="submitlog" value="Submit" class="btn btn-primary text-light">Submit</button>
                    </div>
                </form>
            </div>
		-->
            
               <a href="http://137.43.49.51:8000/accounts/login/" class="navbar-brand"> <strong>Data Analytics</strong> </a> 
            </div>
        
        </nav>
        
        <!-- Container -->
        <div id="containsAll" class="mt-5 pt-5">
            
            
            <!-- Row to keep map and input on the same line -->
            <div class="row" col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12>
               
                
                <!-- Found online, have used it before for WebApp Assignment2 -->
                <!--The div element for the map -->
                <div id="map"></div>

                    <script>
                    var globalJson = {}; //global variable used to store the lat and longs of each route according to route id
                    var multiLegGlobal = {};
                    // Initialize and add the map, will not be responsible for handling the directions directly.
                    function initMap() {
                        // The location of Dublin
                        var Dublin = {lat: 53.3351, lng: -6.2493};
                        // The map, centered at Dublin
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 10, center: Dublin});
                    }


                    function calculateAndDisplayRoute(directionsService, directionsDisplay, line_id){
                        var map = new google.maps.Map(	document.getElementById('map'), {zoom: 10, center: Dublin});
                        /*Function used to calculate and display relevant routes to users
                        
                        3 inputs are direction service, display and the line id. Direction service and display are part of the maps API
                        Line id is used to access the global json object in order to retrieve the relevant lats and longs of the route
                        */
                        var stops = globalJson[line_id]; //retrieve lat and longs
                        var count = stops[0]; //count used to get  destination
                        
                        var start = "lat: "+stops[1][0]+", lng: "+stops[1][1];
                        var dest = "lat: "+stops[count][0]+", lng: "+stops[count][1];
                        //for loop to extract waypoints
                        var waypts = []; //empty array for all waypoints in trip i.e. stops between origin and dest
                        
                        for (var i = 2; i <= count; i++) {
                            //must add waypoints in specific format as shwon below
                            waypts.push({
                              location: {lat: stops[i][0], lng: stops[i][1]},
                              stopover: true

                            });
                        }
                        
                        //part of API which determines route. Origin and dest self explanitory. Have optimise set to false as want waypoints visited in order
                        directionsService.route({
                          origin: {lat: stops[1][0], lng: stops[1][1]},
                          destination: {lat: stops[count][0], lng: stops[count][1]},
                          waypoints: waypts,
                          optimizeWaypoints: false,
                          travelMode: 'DRIVING'

                        },
                    
                        function(response, status) {
                          if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                            var route = response.routes[0];
                          } 
                          else {
                            window.alert('Directions request failed due to ' + status);
                          }
                        });
                        
                        //need to provide new map in order for directions to be rendered. Usually done in init_Map function but must be here as is called by button
                        var Dublin = {lat: 53.3351, lng: -6.2493};
                        directionsDisplay.setMap(map);
                    var icons = {
                            bus: {
                                icon: "{% static "icon/BusMarker.png"%}"
                            },
                            destGoal: {
                                icon:"{% static "icon/GreenMarker.png"%}"
                            }
                        
                            
                        };
                        var features = [
                            {
                                position: new google.maps.LatLng(stops[1][0], stops[1][1]),
                                type: 'bus'
                            },
                            {
                                position: new google.maps.LatLng(stops[count][0], stops[count][1]),
                                type: 'destGoal'
                            }
                        ];
                        features.forEach(function(feature){
                            var marker = new google.maps.Marker({
                                position: feature.position,
                                icon: icons[feature.type].icon,
                                map: map
                            });
                        });
                    }
                        
                        
                    function multiLegDisplay(directionsService, directionsDisplay, line_id){
                    var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 10, center: Dublin});
                        
                    /*Function used to calculate and display relevant routes to users

                    3 inputs are direction service, display and the line id. Direction service and display are part of the maps API
                    line id is used to access the global json object in order to retrieve the relevant lats and longs of the route
                    */
                        
                    var stops = multiLegGlobal[line_id]['latlng']; //retrieve lat and longs
                    var count = stops.length; //count used to get  destination
                        
                    var start = "lat: "+stops[0][0]+", lng: "+stops[0][1];
                    var dest = "lat: "+stops[count-1][0]+", lng: "+stops[count-1][1];
                    //for loop to extract waypoints
                    var waypts = []; //empty array for all waypoints in trip i.e. stops between origin and dest

                    for (var i = 2; i < count; i++) {
                        //must add waypoints in specific format as shwon below
                        waypts.push({
                          location: {lat: stops[i][0], lng: stops[i][1]},
                          stopover: true

                        });
                    }
                    //part of API which determines route. Origin and dest self explanitory. Have optimise set to false as want waypoints visited in order
                    directionsService.route({
                      origin: {lat: stops[0][0], lng: stops[0][1]},
                      destination: {lat: stops[count-1][0], lng: stops[count-1][1]},
                      waypoints: waypts,
                      optimizeWaypoints: false,
                      travelMode: 'DRIVING'

                    },

                    function(response, status) {
                      if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                        var route = response.routes[0];
                      } 
                      else {
                        window.alert('Directions request failed due to ' + status);
                      }
                    });

                    //need to provide new map in order for directions to be rendered. Usually done in init_Map function but must be here as is called by button
                    var Dublin = {lat: 53.3351, lng: -6.2493};
                    directionsDisplay.setMap(map);
                    var icons = {
                        bus: {
                            icon: "{% static "icon/BusMarker.png"%}"
                        },
                        destGoal: {
                            icon:"{% static "icon/GreenMarker.png"%}"
                        },
                        walk: {
                            icon: "{% static "icon/Walking.png"%}"
                        }


                    };
                    var features = [];
                    for (var item in multiLegGlobal[line_id]['markers']){
                        var info = {
                            position:new google.maps.LatLng(multiLegGlobal[line_id]['markers'][item][0][0], multiLegGlobal[line_id]['markers'][item][0][1]),
                            type: multiLegGlobal[line_id]['markers'][item][1]
                        }
                        features.push(info);
                    };
                        

                    features.forEach(function(feature){
                        var marker = new google.maps.Marker({
                            position: feature.position,
                            icon: icons[feature.type].icon,
                            map: map

                        });
                    });
                }
                </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS6Ca0PFx3eydXjgD17aQogUFe8jeOfqg&callback=initMap">
                    </script>
                    
                    <!-- Jumbotron to hold the form -->
                    <div class="jumbotron border border-white pt-1 pb-1 ml-5" id="text-area1">
                    
                     <!-- The FORM -->
                     <form class="bg-infoml-2">
                                
                        <!-- Start -->
                        <div class="form-group p-2">
                            <label for="start" class="text-white blockquote">Start:</label>
                            <input id="start" required type="text" class="float-none text-dark form-control" placeholder="Start Bus Stop ID">
                        </div>
                         
                         <script>

                            var options = {
                                url: "{% static 'AutoComp.json' %}",

                                getValue: "name",

                                list: {
                                    match: {
                                        enabled: true
                                    }
                                }
                            };

                            autoComp("#start").easyAutocomplete(options);

                        </script>
                         
                         
                                
                        <!-- Destination -->
                        <div class="form-group p-2">
                            <label for="destination" class="text-white blockquote" >Destination:</label>
                            <input id="destination" required type = "text" class="float-none text-dark form-control" placeholder="Destination Bus Stop ID">
                        </div>
                         <script>

                            var options = {
                                url: "{% static 'AutoComp.json' %}",

                                getValue: "name",

                                list: {
                                    match: {
                                        enabled: true
                                    }
                                }
                            };


                            autoComp("#destination").easyAutocomplete(options);

                        </script>
                         
                         
                         
                               
                        <!-- Date -->
                        <div class="form-group p-2">
                            <label for="date" class="text-white blockquote">Date:</label>
                            <span style="display:inline-block; width:2rem;"></span>
                            <input type="text" id = "datepicker" required class="float-none text-dark form-control">
                        </div> 
                           
                           
                        <!-- Time -->
                        <div class="form-group p-2 mb-5"> 
                            <label for="time" class="text-white blockquote">Time:</label>
                            <span style="display:inline-block; width:3rem;"></span>
                            <input type ="time" id="time" class="float-none text-dark form-control">
                        </div>
                            
                                                  
                        <!-- Submit -->
                        <div class="form-group p-2">
                            <span style="display:inline-block; width:3rem;"></span>
                            <button id="submit" value="Submit" class="text-dark btn btn-active btn btn-light">Submit</button>
                            <!-- <button id="submit" value="Submit" class="text-light btn btn-active">Submit</button> -->                     
                        </div>
                    
                           
                    </form>
                    </div>
                    
                    <!-- Jumbotron to hold Search Results and Details -->
                    <div class="jumbotron pt-1 pb-1 border border-white" id="text-area2">
                    
                        <div id='routes' class="text-light"><strong>Result area</strong></div>
                                
                    </div>  
                </div>
                
            
                <!-- Footer for the application -->
                <footer id="main-footer" class=" mb-0 bg-dark text-white fixed-bottom">
                    
                    <div class="container">
                    
                        <div class="row text-center">
                        
                            <div class="col-md-6 ml-auto">
                            
                            <p class="lead">
                            
                                Copyright &copy; <span id="year"></span>
                                
                            </p>
                            
                            
                            </div>
                        
                        </div>
                    
                    </div>
            
                </footer>
            
    
            </div>
        
          
        
        
     
        
   <!-- End of Body, Script area -->         
    
    <!-- Script Variables need to change or script will not work, class needs to change (maybe id or name?) @Dan Zhu -->
        <script>
                     
        $(function(){
            $(".bg-infoml-2").submit(function(evt){
                evt.preventDefault();
                sub();
            });
        });
           
        //Show the default date: today
        var today=new Date();
        var submitTime=(today.getMonth()+1)+'/'+today.getDate()+'/'+today.getFullYear(); 
        var mytime='';
        if (today.getHours()<10)
            mytime+='0';
        mytime+=today.getHours()+':';
        if (today.getMinutes()<10)
            mytime+='0';
        mytime+=today.getMinutes();
        $("#datepicker").attr('value',submitTime)
        $("#time").attr('value',mytime)
 
            
        /*Function responsible for taking the inputs on the page and providing them to the ann.py script. 

        This in turn gives the expected travel time as well as the stops needed to get from origin to dest. Lat and long are also returned from ann.py */ 
        function sub()
            {
                //Send the user input to the backend
                
                data_to_backend=getInput(); 

                $.post("/dublinbus/form_input/", data_to_backend, function(data){
                    data=JSON.parse(data);
                    str=showRoutes(data);
                    document.getElementById('routes').innerHTML = str;
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
                
            }
            
        function getInput(){
            
                //Function which collect the user input
            
                var name = $('#start').val();
                var start = name.substring(0,name.indexOf(":"))
                var dest = $('#destination').val();
                var end = dest.substring(0,dest.indexOf(":"));
                var date=$("#datepicker").val();
                var time=$("#time").val();
                var timenumber=time.split(":");
                var seconds=Number(timenumber[0])*60*60 + Number(timenumber[1])*60;
                var data_to_backend = {'Start':start,'End':end,'Time':seconds,'Date':date};
                return data_to_backend;
        }
            
        function showRoutes(json){
                /*
                Function is in charge of presenting the results returned by ann.py as well as providing button for showing route on map
                
                ANN.py returns an estimated travel time as well as the the stops between origin and destination. This function presents the travel time to the user and 
                also fills the globalJSON object with the lats and longs of all the stops for each route available. As ANN.py does not calculate for all routes yet, only those with
                an estimated travle time are provided to the user. The button generated for the route also only shows for the routes with an estimated time.
                
                Reason for plotting all stops is because a bus route may not take the most straightforward route, therefore if origin and destination are the only waypoints then the given route will look very different to the actual route
                */
                var str='';
                var findRoute=false;
                for (var i in json) { //for each of the routes returned by ann.py
                    if (json[i]['locations']!= []){ //must ensure there are locations in order for them to be plotted
                        var id = json[i]['line']; //route id
                        var waypnts = []; //empty array for storing the lats and longs, will late be added to globalJSON object
                        var data =  json[i]['locations'];
                        var count = 0;
                        for (item in data){ // need a count because google directions only accepts 15 waypoints
                            count ++;
                        }
                        if(count > 20){
                            //if over 15 points on map need to divide and skip stops, not ideal but more accurate than just origin/ dest
                            var interval = Math.ceil((count-2)/13);
                            var newcount = 0
                            waypnts.push(data[0]); //first point
                            for (x=interval-1; x<count; x+=interval){
                                waypnts.push(data[x]);
                                newcount ++;

                            }
                            waypnts.unshift(newcount); // count needs to be first for another function, unshift puts first in array
                            waypnts.push(data[count-1]); //last stop naturally last in array

                        }
                        else{
                            // if count not over 15 then just chuck 'em in the way they are
                            waypnts.push(count);
                            for (item in data){
                                waypnts.push(data[item]);
                            }  
                        }
                        var jsonObj = { 
                            // add route id and list of stops to globalJSON obj in format below
                            ['id'+id] : waypnts
                        };
                        globalJson['id'+id]=waypnts;

                    }
                    
                    //If there is no travel time it means ann.py couldn't calculate one, these options will not be shown to user. 
                    if (parseInt(json[i]['traveltime'])>0){ //display div with results and provide button to display route on map. Button also calls function
                        var id = "id"+json[i]['line'];
                        str+="<div  class='route-div' id='route-div' style='border:#FFFFFF 1px ridge; margin-bottom:-14%; padding:0;'>"+
                        "<div class='route-div-detail' data-value = "+json[i]['line']+ "><img src='/static/icon/bus.png'>"+json[i]['line']+'</div>'+
                        'Next Bus: '+converToHour(parseInt(json[i]['pairarrtime'][0]))+'<br>'+'Time to Dest: '+Math.round(json[i]['traveltime']/60)+' min'+'</div><br><input type = "button" value=Show onclick="calculateAndDisplayRoute(new google.maps.DirectionsService, new google.maps.DirectionsRenderer({suppressMarkers: true}), \'' + id + '\')"/>';
                        findRoute=true;
                    }

                }
            
                // If there is no direct route, ask users if they need transfer plan
                if (!findRoute)
                    str='No direct bus route.'+'<br>'+"<a style='cursor:hand' onclick='getTransfer();'><u>Try Transfer</u></a>";

                return str;
                }
        
        function getTransfer(){
            
            // Call transfer algorithm to give transfer plan
                data_to_backend=getInput();
                document.getElementById("routes").innerHTML="<img src='/static/icon/bus.gif'>"+"<br>"+"Finding...";

                $.post("/dublinbus/transfer_form_input/", data_to_backend, function(data){
                    data=JSON.parse(data);
                    str=showTransfer(data);
                    document.getElementById('routes').innerHTML = str;
                })
                .fail(function() {
                    alert( "Connection fail, please refresh the website." );
                });
                
            }

        
        function showTransfer(json){
                        
            var markers = {};
            var latlng = [];
            var countA = 0;
            var countB = 0;
            
            for (var x in json['lineA'][0]['locations']){
                countA ++;
            }
            for (var y in json['lineB'][0]['locations']){
                countB ++;
            }
            var total = countA + countB;
            var interval = Math.ceil(total/15);
            if (json['walk1_distance']!='0'){
                latlng.push(json['first_stop_location']);
                markers['walk1']=[json['first_stop_location'],'walk'];
                total ++;
                markers['bus1']=[json['lineA'][0]['locations'][0],'bus'];
                
                for (var stop = interval; stop<countA; stop+=interval){
                    var id =json['lineA'][0]['locations'][stop];
                    
                    if (id.length ==0){
                        latlng.push(json['lineA'][0]['locations'][stop+1]);
                    }
                    else{
                        latlng.push(json['lineA'][0]['locations'][stop]);
                    }
                }
            }
            else{
                markers['bus1']=[json['lineA'][0]['locations'][0],'bus'];
                latlng.push(json['lineA'][0]['locations'][0]);
                for (var stop = interval; stop<countA; stop+=interval){
                    var id =json['lineA'][0]['locations'][stop];
                    
                    if (id.length ==0){
                        latlng.push(json['lineA'][0]['locations'][stop+1]);
                    }
                    else{
                        latlng.push(json['lineA'][0]['locations'][stop]);
                    }
                }
            }
            
            if(json['middle_walk_distance']!='0'){
                markers['walk2']=[json['lineA'][0]['locations'][countA-1],'walk'];
                markers['bus2']=[json['lineB'][0]['locations'][0],'bus'];
                latlng.push(json['lineA'][0]['locations'][countA-1]);
                latlng.push(json['lineB'][0]['locations'][0]);

                for (var stop = interval; stop<countB; stop+=interval){
                    id =json['lineB'][0]['locations'][stop];
  
                    if (id.length ==0){
                        latlng.push(json['lineB'][0]['locations'][stop+1]);
                    }
                    else{
                        latlng.push(json['lineB'][0]['locations'][stop]);
                    }
                }
            }
            else{
                markers['bus2']=[json['lineB'][0]['locations'][0],'bus']; 
                for (var stop = interval-1; stop<countB; stop+=interval){
                    id =json['lineB'][0]['locations'][stop];
                    if (id.length ==0){
                        latlng.push(json['lineB'][0]['locations'][stop+1]);
                    }
                    else{
                        latlng.push(json['lineB'][0]['locations'][stop]);
                    }
                }
            }
            
            if (json['walk2_distance']!='0'){
                markers['walk3']=[json['lineB'][0]['locations'][countB-1],'walk'];
                markers['destGoal']=[json['last_stop_location'],'destGoal'];
                latlng.push(json['last_stop_location']);
                total ++;
            }
            else{
                markers['destGoal']=[json['lineB'][0]['locations'][countB-1],'destGoal'];
                latlng.push(json['lineB'][0]['locations'][countB-1]);
            }
            
            var id = json['lineA'][0]['line']+","+json['lineB'][0]['line'];
            
            multiLegGlobal["id:"+id] = {markers, latlng};

            multiLegDisplay(new google.maps.DirectionsService(), new google.maps.DirectionsRenderer({suppressMarkers : true}), "id:"+id)
            
            

            //Show transfer results
            
            var str='';
            if (json['walk1_distance']!='0')
                str+='<font size="4">'+json['walk1_startID']+', '+json['walk1_start_station']+"</font><br><br>"+
                     "<div class='transport-div'>"+"<div class='route-div-detail' style='border-left:#FFFFFF 2px dashed;'>"+
                     "<img src='/static/icon/walk1.png'>"+'<font size="3" color="white">'+(parseFloat(json['walk1_distance'])*1000).toFixed(0)+'m'+
                     "</font></div>"+"<br></div>";
                
            str+='<font size="4">'+json['walk1_endID']+', '+json['walk1_end_station']+"</font><br>";

            str+="<br>"+"<div class='transport-div'>"+"<div class='route-div-detail' style='border-left:#FFFFFF 2px double;'>"+
                 '<img src="/static/icon/bus.png">'+'<font size="3" color="white">'+json['lineA'][0]['line']+' '+
                  Math.round(json['lineA'][0]['travelTime']/60)+' min'+'</font></div></div><br>';

                
            if (json['middle_walk_distance']!='0')
                str+='<font size="4">'+json['middle_walk_startID']+', '+json['middle_walk_start_station']+"</font><br><br>"+
                     "<div class='transport-div'>"+"<div class='route-div-detail' style='border-left:#FFFFFF 2px dashed;'>"+
                     "<img src='/static/icon/walk1.png'>"+'<font size="3" color="white">'+(parseFloat(json['middle_walk_distance'])*1000).toFixed(0)+'m'+
                     "</font></div>"+"<br></div>";
                     
            str+='<font size="4">'+json['middle_walk_endID']+', '+json['middle_walk_end_station']+"</font><br>";
            
            str+="<br>"+"<div class='transport-div'>"+"<div class='route-div-detail' style='border-left:#FFFFFF 2px double;'>"+
                 '<img src="/static/icon/bus.png">'+'<font size="3" color="white">'+json['lineB'][0]['line']+' '+
                  Math.round(json['lineB'][0]['travelTime']/60)+' min'+'</font></div></div><br>';
            
            if (json['walk2_distance']!='0')
                str+='<font size="4">'+json['walk2_startID']+', '+json['walk2_start_station']+"</font><br><br>"+
                     "<div class='transport-div'>"+"<div class='route-div-detail' style='border-left:#FFFFFF 2px dashed;'>"+
                     "<img src='/static/icon/walk1.png'>"+'<font size="3" color="white">'+(parseFloat(json['walk2_distance'])*1000).toFixed(0)+'m'+
                     "</font></div>"+"<br></div>";
            
            str+='<font size="4">'+json['walk2_endID']+', '+json['walk2_end_station']+"</font><br>";
            return str;
        }

        function converToHour(a){
            
                //Convert seconds to hours and minutes
            
                var hours=parseInt(a/3600);
                var mins=parseInt((a-hours*3600)/60);
                var time='';
                if (hours<10)
                    hours='0'+hours;
                if (mins<10)
                    time=hours+':0'+mins;
                else
                    time=hours+':'+mins;
                return time;
        }
            
            
        $(function() {
            
            // Attributes of date time picker
            
            $( "#datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
        });

            
            
	//Comment it because we don't need it any more
        //function trylogin()
            
            //Check the username and the password, if ok, change to the second page;else alert wrong password
            
            //{
            //    var username=$("#username").val();
            //    var password=$("#password").val();
            //    data_to_backend = {'Username':username,'Password':password}; 

                
            //    $.post("/dublinbus/login/", data_to_backend, function(data){
            //        data=JSON.parse(data);
            //        if (data['info']=="Successful")
            //            window.location.href="/analytics";
            //        else
            //            alert(data['info']);

            //    })
            //    .fail(function() {
            //        alert( "Connection fail, please refresh the website." );
            //    });
                
            //}
        function isHidden(oDiv){
            var vDiv = document.getElementById(oDiv);
            vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
        }
        </script>
        
        <!-- Bootstrap CDN for Javascript, found on getbootstrap.com -->
        <script src="{% static 'bootstrap.min.js' %}" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
        </script>  
                 
        
        <!-- Get current year -->
        
        <script>
        
        $('#year').text(new Date().getFullYear());
        
        </script>
        
    </body>
</html>
               
            
            
        
    
    
