        #map {
            width : 40%;
            height: 400px;
            float:left;
            margin-left: 5px;     
        }


        #dateAndTime{
            margin-left: 150px;
        }


        #SearchResults{
            text-align: center;
        }    
        

        .inputForm{
            text-align: center;
            margin:1em;
        }


        .inputFormElement{
            margin:px;
            text-align: center;
        

        }   
            
            
        @media (min-width: 576px) {
            .jumbotronHEADER {
                padding-top: 1rem; 
                padding-bottom: 1rem;
                padding-right: 0;
                padding-left: 0;
                background-color: #92a8d1 ;
            }
        }
        

         @media (min-width: 576px) {
            .jumbotronDETAILS {
                padding-top: 1rem; 
                padding-bottom: 1rem;
                margin-left: 65px;
                background-color: #558833 ;
            }
        }
            
            
        @media (min-width: 576px) {
            .jumbotronWEATHER {
                padding-top: 1rem; 
                padding-bottom: 1rem;
                padding-right: 0;
                background-color: #998833 ;
            }
        }