.containsAll {
    background-color:brown;
    padding-top: 5px;
    
}

.aw-widget-current {
    
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 20px;
    
}

#map {
    width: 50%;
    height:400px; 
    margin-left: 70px;
    margin-right: 20px;
}

.boxInput{
    float:right;
    margin-left: 145px;
    margin-right: 20px;
    text-align: center;
}

.boxDetails{
    background-color: coral;
    margin-top:60px;
    text-align: center;
}